<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generation <%= number %></title> 
    <link rel="stylesheet" href="/style.css">
    

</head>
<body>
    <h1>Pokedex</h1>

    <% if (pokemonList && pokemonList.length) { %>
        <div class="pokemon-list">
            <% pokemonList.forEach(pokemon => { %>
                <div>
                    <a href="<%= pokemon.url %>"><%= pokemon.name %></a>
                </div>
            <% }); %>
        </div>
    <% } else { %>
        <p>Ei Pokemoneja tässä generaatiosta.</p>
    <% } %>

    <a href="/">Takaisin Pokedexiin</a>
</body>
</html>
